# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                               @RomainMuller
/packages/jsii-kernel           @RomainMuller
/packages/jsii                  @RomainMuller
/packages/@jsii/runtime         @MrArnoldPalmer
/packages/@jsii/kernel          @RomainMuller
/packages/@jsii/dotnet*         @MrArnoldPalmer
/packages/@jsii/java*           @RomainMuller
/packages/@jsii/python*         @MrArnoldPalmer
/pacakges/jsii-diff             @MrArnoldPalmer
/packages/jsii-runtime          @MrArnoldPalmer
/packages/jsii-reflect          @MrArnoldPalmer
/packages/jsii-rosetta          @MrArnoldPalmer
/packages/jsii-spec             @MrArnoldPalmer
/packages/jsii-pacmak           @MrArnoldPalmer
/packages/codemaker             @MrArnoldPalmer
