# Each line is a file pattern followed by one or more owners (@username or
# email@address).
#
# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#
# @See https://help.github.com/articles/about-codeowners/

*                               @aws/aws-cdk-team
/packages/*-dotnet-*/           @aws/aws-cdk-team @aws/aws-sdk-dotnet-team
/packages/*-java-*/             @aws/aws-cdk-team @bmaizels
/packages/*-python-*/           @aws/aws-cdk-team @garnaat

# Make sure package.json & package-lock.json are not triggering crazy auto-assigns
*/package.json                  @aws/aws-cdk-team
*/package-lock.json             @aws/aws-cdk-team
