version: 2

updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
    labels:
      - dependencies
    versioning-strategy: increase
    ignore:
      - dependency-name: typescript
        versions:
          - '>= 3.10.a'
      - dependency-name: '@types/node'
        versions:
          - '>= 11.a'

  - package-ecosystem: nuget
    directory: '/packages/@jsii/dotnet-runtime/src'
    schedule:
      interval: daily
    labels:
      - dependencies
      - language/dotnet

  - package-ecosystem: nuget
    directory: '/packages/@jsii/dotnet-runtime-test/test'
    schedule:
      interval: daily
    labels:
      - dependencies
      - language/dotnet

  - package-ecosystem: pip
    directory: '/packages/@jsii/python-runtime'
    schedule:
      interval: daily
    labels:
      - dependencies
      - language/python

  - package-ecosystem: pip
    directory: '/gh-pages'
    schedule:
      interval: daily
    labels:
      - dependencies
      - language/python

  - package-ecosystem: pip
    directory: '/packages/jsii-pacmak/test'
    schedule:
      interval: daily

    labels:
      - dependencies
      - language/python

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
