version: 2

updates:
  - package-ecosystem: nuget
    directory: '/packages/@jsii/dotnet-runtime/src'
    schedule:
      interval: weekly
    labels:
      - dependencies
      - pr/auto-approve
      - language/dotnet

  - package-ecosystem: nuget
    directory: '/packages/@jsii/dotnet-runtime-test/test'
    schedule:
      interval: weekly
    labels:
      - dependencies
      - pr/auto-approve
      - language/dotnet

  - package-ecosystem: pip
    directory: '/packages/@jsii/python-runtime'
    schedule:
      interval: weekly
    labels:
      - dependencies
      - pr/auto-approve
      - language/python

  - package-ecosystem: pip
    directory: '/gh-pages'
    schedule:
      interval: weekly
    labels:
      - dependencies
      - pr/auto-approve
      - language/python

  - package-ecosystem: pip
    directory: '/packages/jsii-pacmak/test/generated-code'
    schedule:
      interval: daily
    labels:
      - dependencies
      - pr/auto-approve
      - language/python

  - package-ecosystem: pip
    directory: '/packages/jsii-pacmak/lib/targets/python'
    schedule:
      interval: daily
    labels:
      - dependencies
      - pr/auto-approve
      - language/python

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
    labels:
      - dependencies
      - pr/auto-approve
