node_modules/
lerna-debug.log

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
pip-wheel-metadata/
tsconfig.tsbuildinfo
.DS_Store
.idea
.vs
dist/
.vscode
*.map
*.tsbuildinfo
*.tabl.json
*.swp
*.snk
build/
coverage/
jsii-outdir/
