language: minimal

branches:
  only:
    - master
    - /v\d+\.\d+.\d+/

services:
  - docker

before_script:
  # Attempt to pre-cache the previous version of the image, to speed build up
  - docker pull jsii/superchain:latest || true

script:
  - set -euo pipefail
  - docker build --pull --build-arg BUILD_TIMESTAMP=$(date -u +'%Y-%m-%dT%H:%M:%SZ') --build-arg COMMIT_ID="${TRAVIS_COMMIT}" -t "jsii/superchain:latest" ./superchain
  - docker run --rm -it --net=host -v ${PWD}:${PWD} -w ${PWD} jsii/superchain:latest ./build.sh
  - >-
    if [ ! -z "${DOCKER_USERNAME+SET}" ] && [ ! -z "${DOCKER_PASSWORD+SET}" ]; then
      echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
      if [ ! -z "${TRAVIS_TAG+SET}" ]; then
        docker push jsii/superchain:latest
      else
        docker push "jsii/superchain:${TRAVIS_BRANCH}"
      fi
    fi
