# See https://doc.mergify.io
queue_rules:
  - name: default
    conditions:
      - status-success~=^jsii/superchain
      # One test for each OS
      - status-success~=^Test \(ubuntu-.*$
      - status-success~=^Test \(macos-.*$
      - status-success~=^Test \(windows-.*$
      # One test for each supported nodejs version
      - status-success~=^Test \(.* node 14 .*$
      - status-success~=^Test \(.* node 16 .*$
      - status-success~=^Test \(.* node 18 .*$
      - status-success~=^Test \(.* node 19 .*$
      # One test for each supported dotnet version
      - status-success~=^Test \(.* dotnet 3\.1\.x .*$
      - status-success~=^Test \(.* dotnet 6\.0\.x .*$
      # One test for each supported go version
      - status-success~=^Test \(.* go 1.18 .*$
      - status-success~=^Test \(.* go 1.19 .*$
      # One test for Java 8 and 11
      - status-success~=^Test \(.* java 8 .*$
      - status-success~=^Test \(.* java 11 .*$
      # One test for Python 3.7 through 3.10
      - status-success~=^Test \(.* python 3\.7[ )].*$
      - status-success~=^Test \(.* python 3\.8[ )].*$
      - status-success~=^Test \(.* python 3\.9[ )].*$
      - status-success~=^Test \(.* python 3\.10[ )].*$

pull_request_rules:
  - name: label core
    actions:
      label:
        add: [contribution/core]
    conditions:
      - author~=^(RomainMuller|rix0rrr|Jerry-AWS|MrArnoldPalmer|iliapolo|madeline-k|comcalvi|kaizencc|corymhall|otaviomacedo|yuth|TheRealAmazonKendra|vinayak-kukreja|mrgrain|ryparker|Naumel)$
      - -label~="contribution/core"
  - name: Tell them we're good now
    actions:
      comment:
        message: >-
          Thank you for contributing! :heart: I will now look into making sure the PR is up-to-date, then proceed to try and merge it!
      label:
        add: [pr/ready-to-merge]
    conditions:
      - -title~=(WIP|wip)
      - label!=pr/blocked
      - label!=pr/do-not-merge
      - label!=pr/ready-to-merge
      - -merged
      - -closed
      - -approved-reviews-by~=author
      - '#approved-reviews-by>=1'
      - '#review-requested=0'
      - '#changes-requested-reviews-by=0'
      - status-success=Validate PR Title
      # Docker image validation
      - status-success~=^jsii/superchain
      # One test for each OS
      - status-success~=^Test \(ubuntu-.*$
      - status-success~=^Test \(macos-.*$
      - status-success~=^Test \(windows-.*$
      # One test for each supported nodejs version
      - status-success~=^Test \(.* node 14 .*$
      - status-success~=^Test \(.* node 16 .*$
      - status-success~=^Test \(.* node 18 .*$
      - status-success~=^Test \(.* node 19 .*$
      # One test for each supported dotnet version
      - status-success~=^Test \(.* dotnet 3\.1\.x .*$
      - status-success~=^Test \(.* dotnet 6\.0\.x .*$
      # One test for each supported go version
      - status-success~=^Test \(.* go 1.18 .*$
      - status-success~=^Test \(.* go 1.19 .*$
      # One test for Java 8 and 11
      - status-success~=^Test \(.* java 8 .*$
      - status-success~=^Test \(.* java 11 .*$
      # One test for Python 3.7 through 3.10
      - status-success~=^Test \(.* python 3\.7[ )].*$
      - status-success~=^Test \(.* python 3\.8[ )].*$
      - status-success~=^Test \(.* python 3\.9[ )].*$
      - status-success~=^Test \(.* python 3\.10[ )].*$

  - name: Synchronize that PR to upstream and merge it (squash)
    actions:
      dismiss_reviews:
        approved: true
        changes_requested: false
      queue:
        name: default
        method: squash
        commit_message_template: |-
          {{ title }} (#{{ number }})

          {{ body }}
      comment:
        message: Merging (with squash)...
    conditions:
      - -title~=(WIP|wip)
      - label!=pr/blocked
      - label!=pr/do-not-merge
      - label=pr/ready-to-merge
      - label!=pr/no-squash
      - -merged
      - -closed
      - -approved-reviews-by~=author
      - '#approved-reviews-by>=1'
      - '#review-requested=0'
      - '#changes-requested-reviews-by=0'
      - status-success=Validate PR Title
      # Docker image validation
      - status-success~=^jsii/superchain
      # One test for each OS
      - status-success~=^Test \(ubuntu-.*$
      - status-success~=^Test \(macos-.*$
      - status-success~=^Test \(windows-.*$
      # One test for each supported nodejs version
      - status-success~=^Test \(.* node 14 .*$
      - status-success~=^Test \(.* node 16 .*$
      - status-success~=^Test \(.* node 18 .*$
      - status-success~=^Test \(.* node 19 .*$
      # One test for each supported dotnet version
      - status-success~=^Test \(.* dotnet 3\.1\.x .*$
      - status-success~=^Test \(.* dotnet 6\.0\.x .*$
      # One test for each supported go version
      - status-success~=^Test \(.* go 1.18 .*$
      - status-success~=^Test \(.* go 1.19 .*$
      # One test for Java 8 and 11
      - status-success~=^Test \(.* java 8 .*$
      - status-success~=^Test \(.* java 11 .*$
      # One test for Python 3.7 through 3.10
      - status-success~=^Test \(.* python 3\.7[ )].*$
      - status-success~=^Test \(.* python 3\.8[ )].*$
      - status-success~=^Test \(.* python 3\.9[ )].*$
      - status-success~=^Test \(.* python 3\.10[ )].*$

  - name: Synchronize that PR to upstream and merge it (no-squash)
    actions:
      dismiss_reviews:
        approved: true
        changes_requested: false
      queue:
        name: default
        method: merge
        commit_message_template: |-
          {{ title }} (#{{ number }})

          {{ body }}
      comment:
        message: Merging (no-squash)...
    conditions:
      - -title~=(WIP|wip)
      - label!=pr/blocked
      - label!=pr/do-not-merge
      - label=pr/ready-to-merge
      - label=pr/no-squash
      - -merged
      - -closed
      - -approved-reviews-by~=author
      - '#approved-reviews-by>=1'
      - '#review-requested=0'
      - '#changes-requested-reviews-by=0'
      - status-success=Validate PR Title
      # Docker image validation
      - status-success~=^jsii/superchain
      # One test for each OS
      - status-success~=^Test \(ubuntu-.*$
      - status-success~=^Test \(macos-.*$
      - status-success~=^Test \(windows-.*$
      # One test for each supported nodejs version
      - status-success~=^Test \(.* node 14 .*$
      - status-success~=^Test \(.* node 16 .*$
      - status-success~=^Test \(.* node 18 .*$
      - status-success~=^Test \(.* node 19 .*$
      # One test for each supported dotnet version
      - status-success~=^Test \(.* dotnet 3\.1\.x .*$
      - status-success~=^Test \(.* dotnet 6\.0\.x .*$
      # One test for each supported go version
      - status-success~=^Test \(.* go 1.18 .*$
      - status-success~=^Test \(.* go 1.19 .*$
      # One test for Java 8 and 11
      - status-success~=^Test \(.* java 8 .*$
      - status-success~=^Test \(.* java 11 .*$
      # One test for Python 3.7 through 3.10
      - status-success~=^Test \(.* python 3\.7[ )].*$
      - status-success~=^Test \(.* python 3\.8[ )].*$
      - status-success~=^Test \(.* python 3\.9[ )].*$
      - status-success~=^Test \(.* python 3\.10[ )].*$

  - name: Clean branch up
    actions:
      delete_head_branch: {}
    conditions:
      - merged

  - name: Remove Label
    actions:
      label:
        remove: [pr/ready-to-merge]
    conditions:
      - merged

  - name: Discard stale reviews
    actions:
      dismiss_reviews:
        approved: true
        changes_requested: false
    conditions:
      - base=main
      - author!=dependabot[bot]
      - author!=dependabot-preview[bot]
      - label!=contribution/core

  - name: Let them know the PR title doesn't look right
    actions:
      comment:
        message: >-
          The title of this Pull Request does not conform with [Conventional Commits] guidelines. It will need to be adjusted before the PR can be merged.

          [Conventional Commits]: https://www.conventionalcommits.org
    conditions:
      - status-failure=Validate PR Title
