[build-system]
requires = ["setuptools~=62.2", "wheel~=0.37"]
build-backend = 'setuptools.build_meta'

[tool.black]
target-version = ['py37', 'py38', 'py39', 'py310']
include = '\.pyi?$'
exclude = '\.(git|mypy_cache|env)'

[tool.mypy]
ignore_missing_imports = true

[tool.pyright]
pythonVersion = "3.7"
venv = ".env"
venvPath = "."
