# Approve PRs with "auto-approve". mergify takes care of the actual merge.

name: auto-approve
on:
  pull_request:
    types:
      - labeled           # Run when labels are updated
      - opened            # Run when a PR is initially submitted
      - ready_for_review  # Run when a Draft PR is upgraded PR
      - reopened          # Run when a PR is re-opened
      - synchronize       # Run when a PR head branch is updated

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "$GITHUB_CONTEXT"
  auto-approve:
    if: |
      contains(github.event.pull_request.labels.*.name, 'auto-approve') ||
      github.event.label.name == 'auto-approve'
    permissions:
      actions: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - run: gh pr review --approve ${{ github.event.pull_request.number }} -R ${{ github.repository }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
