# Workflow that publishes to the gh-pacges branch
name: GitHub Pages

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths: [gh-pages/**]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Check out
        uses: actions/checkout@v2
      - name: Locate Caches
        id: cache-locations
        run: |-
          echo "::set-output name=pip-cache::$(python3 -m pip cache dir)"
      - name: Cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.cache-locations.outputs.pip-cache }}
          key: ${{ runner.os }}-${{ hashFiles('**/requirements-dev.txt') }}
          restore-keys: ${{ runner.os }}-
      - name: Install Dependencies
        run: |-
          pip install -r requirements-dev.txt
        working-directory: gh-pages
      - name: Build DocSite
        run: |-
          mkdir -p ${{ runner.temp }}/site
          mkdocs build                                                          \
            --strict                                                            \
            --site-dir ${{ runner.temp }}/site
        working-directory: gh-pages
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: doc-site
          path: ${{ runner.temp }}/site/

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          token: ${{ secrets.AUTO_APPROVE_GITHUB_TOKEN }}
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: doc-site
          path: ${{ runner.temp }}/site
      - name: Configure Git
        run: |-
          git config user.name "AWS CDK Automation"
          git config user.email "aws-cdk+automation@amazon.com"
      - name: Prepare Commit
        run: |-
          rsync --delete --exclude=.git ${{ runner.temp }}/site/ ./
          touch .nojekyll
          git commit -am 'docs: publish from ${{ github.sha }}'
      - name: Push
        run: |-
          git push origin gh-pages:gh-pages
