# Workflows pertaining to the main/master branch
name: Main

on:
  pull_request:
    branches: [main, master]
  push:
    branches: [main, master]

env:
  DOTNET_NOLOGO: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      # Set up all of our standard runtimes
      - name: Set up .NET 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'
      - name: Set up Java 8
        uses: actions/setup-java@v1
        with:
          java-version: '8'
      - name: Set up Node 12
        uses: actions/setup-node@v2.1.1
        with:
          node-version: '12'
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: 'Linux: Install python3-venv'
        if: runner.os == 'Linux'
        run: sudo apt install -y python3-venv
      - name: 'Windows: Expose python3 command'
        if: runner.os == 'Windows'
        shell: bash
        run: cp ${pythonLocation}/python.exe ${pythonLocation}/python3.exe
      - name: Check out
        uses: actions/checkout@v2
      - name: Locate Caches
        id: cache-locations
        run: |-
          # Need to have PIP >= 20.1 for "pip cache dir" to work
          python3 -m pip install --upgrade pip
          echo "::set-output name=pip-cache::$(python3 -m pip cache dir)"
          echo "::set-output name=yarn-cache::$(yarn cache dir)"
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |-
            ${{ steps.cache-locations.outputs.pip-cache }}
            ${{ steps.cache-locations.outputs.yarn-cache }}
            ~/.m2/repository
            ~/.nuget/packages
          key: ${{ runner.os }}-node@12-python@3.6-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |-
            ${{ runner.os }}-node@12-python@3.6-
            ${{ runner.os }}-node@12-
            ${{ runner.os }}-
      # Prepare dependencies and build
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Full Build
        run: yarn build
      - name: "Upload Artifact: built-tree"
        uses: actions/upload-artifact@v2
        with:
          name: built-tree
          path: |-
            ${{ github.workspace }}
            !**/.env/**
            !**/node_modules/**
            !**/project/.m2/**
      # Determine a prerelease version (depending on whether this is a PR or Push event)
      - name: Standard Version (PR)
        if: github.event_name == 'pull_request'
        run: |-
          npx standard-version                                                                                          \
            --compareUrlFormat='{{host}}/{{owner}}/{{repository}}/compare/{{previousTag}}...${{ github.sha }}'          \
            --prerelease=pr${{ github.event.pull_request.number }}                                                      \
            --skip.commit
      - name: Standard Version (Nightly)
        if: github.event_name == 'push'
        run: |-
          npx standard-version                                                                                          \
            --compareUrlFormat='{{host}}/{{owner}}/{{repository}}/compare/{{previousTag}}...${{ github.sha }}'          \
            --prerelease=nightly.$(date -u +'%Y%m%d')                                                                   \
            --skip.commit
      # Now we'll be preparing a release package (with the "real" version)
      - name: Align Versions
        run: ./scripts/align-version.sh
      - name: Rebuild
        run: yarn build
      - name: Package Libraries
        run: yarn package
      - name: "Upload Artifact: release-package"
        uses: actions/upload-artifact@v2
        with:
          name: release-package
          path: ${{ github.workspace }}/dist/

  test:
    name: Test (${{ matrix.os }} / java ${{ matrix.java }} / node ${{ matrix.node }} / python ${{ matrix.python }})
    needs: build
    strategy:
      fail-fast: false
      matrix:
        # All currently supported node versions (Maintenance LTS, Active LTS, Current)
        dotnet: ['3.1.x']
        java: ['8']
        node: ['10', '12', '13', '14']
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ['3.6']
        # Add specific runs for different variations of java/python only against node 10 / ubuntu-latest
        include:
          - dotnet: '3.1.x'
            java: '11'
            node: '10'
            os: ubuntu-latest
            python: '3.8'
          - dotnet: '3.1.x'
            java: '11'
            node: '10'
            os: ubuntu-latest
            python: '3.7'
          - dotnet: '3.1.x'
            java: '11'
            node: '10'
            os: ubuntu-latest
            python: '3.8'
          - dotnet: '3.1.x'
            java: '8'
            node: '10'
            os: ubuntu-latest
            python: '3.8'

    runs-on: ${{ matrix.os }}

    steps:
      # Set up all of our standard runtimes (this is matrix-based)
      - name: Set up .NET ${{ matrix.dotnet }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Set up Node ${{ matrix.node }}
        uses: actions/setup-node@v2.1.1
        with:
          node-version: ${{ matrix.node }}
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: 'Linux: Install python3-venv'
        if: runner.os == 'Linux'
        run: sudo apt install -y python3-venv
      - name: 'Windows: Expose python3 command'
        if: runner.os == 'Windows'
        shell: bash
        run: cp ${pythonLocation}/python.exe ${pythonLocation}/python3.exe
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: built-tree
      - name: Locate Caches
        id: cache-locations
        run: |-
          # Need to have PIP >= 20.1 for "pip cache dir" to work
          python3 -m pip install --upgrade pip
          echo "::set-output name=pip-cache::$(python3 -m pip cache dir)"
          echo "::set-output name=yarn-cache::$(yarn cache dir)"
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |-
            ${{ steps.cache-locations.outputs.pip-cache }}
            ${{ steps.cache-locations.outputs.yarn-cache }}
            ~/.m2/repository
            ~/.nuget/packages
          # Not including .NET / Java in the cache keys, those artifacts are SDK-version-independent
          key: ${{ runner.os }}-node@${{ matrix.node }}-python@${{ matrix.python }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |-
            ${{ runner.os }}-node@${{ matrix.node }}-python@${{ matrix.python }}-
            ${{ runner.os }}-node@${{ matrix.node }}-
            ${{ runner.os }}-
      # Install dependencies (ensures arch/os specific packages are re-built)
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      # Run all tests
      - name: Test
        run: yarn test
